<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../partials/metaHead'); %>
    <title>Home</title>
</head>
<body>

    <div class="row row_home">
        <nav>
            <div class="nav-wrapper">
                <a style="left:0; letter-spacing:1px;font-size:2.4em;" href="/" class="brand-logo">GenoTech</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/admin"><i class="material-icons left pulse">person</i>Admin</a></li>
                    <li><a href="/admin/medicine"><i class="material-icons left pulse">local_hospital</i>Medicine</a></li>
                    <li><a href="/admin/illness"><i class="material-icons left pulse">local_hotel</i>Illness</a></li>
                    <li><a href="/login/logout"><i class="material-icons left pulse">exit_to_app</i>Log Out</a></li>
                </ul>
            </div>
        </nav>
        <h3 class="home_moto"><%=userData.full_name()%></h3>
        <h4 class="home_motoh4">How is your condition today?</h4>
        <form action="/" method="post" class="col s12">
            <div class="col s12">
                <input autocomplete="off" class="waves-effect waves-light search_input" type="text" placeholder="Indication or Symptoms " name = "search">
                <input style="display:none" class="waves-effect waves-light btn button_submit_search color_button_search" type="submit">
            </div>            
        </form>
    </div>
    <div class="row">
        <%if(data !== null){%>
            <%if(data.length == 0){%>
                <p class="error_message">Use proper keyword<p>
            <%}else if(data.length >0){%>
            <table class="responsive-table centered highlight" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Illness Name</th>
                        <th style="width:55%">Description</th>
                        <th>Illness Detail<th>
                    </tr>
                </thead>
                <tbody>
                    <%data.forEach((data,index)=>{%>
                    <tr>
                        <td><%= index+1%></td>
                        <td><%= data.name%></td>
                        <td style="text-align:left"><%= data.description %></td>
                        <td>
                        <a href = "/<%=data.id%>/medicine_detail">View</a>
                        </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
            <%} %>
        <%}%>
    </div>

</body>
</html>