<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../../partials/metaHead'); %>
    <title>Illness</title>
    <style>
        .container{
            width: 90% !important;
            margin: 1em auto !important;
        }

        .small_button{
            padding: 0 1rem !important;
        }        
    </style>
</head>
<body>
    <div class="container">
        <a href="/admin/illness/back" class="waves-effect waves-light btn small_button" >Back</a>
        <a class="waves-effect waves-light btn small_button" href="/admin/illness/add">Add Illness</a>
        <table class="responsive-table highlight centered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Illness List</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let [index,value] of illnessData.entries()){%>
                    <tr>
                        <td><%=index+1%></td>
                        <td><%=value.name%></td>
                        <td><%=value.description%></td>
                        <td>
                            <a href="/admin/illness/edit/<%=value.id%>" class="waves-effect waves-light btn small_button">Edit</a>
                            <a href="/admin/illness/delete/<%=value.id%>" class="waves-effect waves-light btn small_button" onclick="return confirm('Sure want to delete this data?')" >Delete</a>
                        </td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
    
   
    <%- include('../../partials/sweetAlert'); %>
    <%- include('../../partials/scriptBasic'); %>
    <!-- <script>
        $(document).ready(function(){
            $("#hi").click(function(){
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                        icon: "success",
                        });
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
            })
        })
    </script> -->
</body>
</html>