<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../../partials/metaHead'); %>
    
    <title>Medicine</title>
    <style>
        .container{
            width: 90% !important;
            margin: 1em auto !important;
        }

        .small_button{
            padding: 0 1rem !important;
        }        
    </style>
</head>
<body>
        
        <a class="waves-effect waves-light btn small_button" href="/admin/medicine/back"><i class="material-icons">arrow_back</i></a>
        <a class="waves-effect waves-light btn small_button"  href="/admin/medicine/add"> <i class="material-icons">add</i></a>
        <table class="responsive-table highlight centered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th style="width:55%">Description</th>
                    <th style="width:20%">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let [index,value] of medicineData.entries()){%>
                    <tr>
                        <td><%=index+1%></td>
                        <td><%=value.name%></td>
                        <td><%=value.brand%></td>
                        <td style="text-align:left"><%=value.description%></td>
                        <td>
                            <a href="/admin/medicine/edit/<%=value.id%>" class="waves-effect waves-light btn small_button"><i class="material-icons">edit</i></a>
                            <a href="/admin/medicine/delete/<%=value.id%>" class="waves-effect waves-light btn small_button" onclick="return confirm('Sure want to delete this medicine? Yer or No')" ><i class="material-icons">delete</i></a>
                            <a href="/admin/medicine/assign/<%=value.id%>" class="waves-effect waves-light btn small_button"><i class="material-icons">assignment</i></a>
                        </td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    
    
   
    <%- include('../../partials/sweetAlert'); %>
    <%- include('../../partials/scriptBasic'); %>
    <!-- <script>
        $(document).ready(function(){
            $("#hi").click(function(){
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                        icon: "success",
                        });
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
            })
        })
    </script> -->
</body>
</html>